/*Formatando o corpo do site*/
body {
    background-color: #4B3621; /*deixa o fundo desta cor*/
    color: #C8B6A6; /*deixa o texto desta cor*/
    font-family: Arial, Helvetica, sans-serif; /*define a fonte*/
    padding: 20px; /*espaço interno nas bordas da tela*/
    margin: 0;
}

/*Container com texto + imagem */
.container-sobre {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; center;
    gap: 40px;
    max-width: 1500px;
    margin: 0 auto; /* Quebra para baixo em telas pequenas */
    flex-wrap: wrap; /* Quebra para baixo em telas pequenas */
}

/*Texto com largura flexível */
.texto-sobre {
    flex: 2;
    min-width: 500px;
}

/*Formatando os título*/
h1 {
    font-size: 2rem; /*tamanho da fonte*/
    color: #C8B6A6; 
    font-weight: bold; /*negrito*/
    margin-bottom: 20px; /*espaço abaixo do título*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Formatando os parágrafos*/
p {
    text-align: left; /*alinhando à esquerda*/
    line-height: 1.6; /*espaçamento entre linhas*/
}

/*Foto do perfil*/
.foto-perfil {
    flex: 0 0 300px; /* largura fixa para imagem */
    height: 300px; /*mantém o formato quadrado */
    border-radius: 50%; /*transforma em círculo */
    object-fit: cover; /*garante que a imagem preencha o espaço circular */
    border: 3px solid #C8B6A6;
    margin-top: 30px;
}   

/* Responsivo para telas menores */
@media (max-width: 768px) {
    .container-sobre {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .foto-perfil {
        margin-bottom: 20px;
        height: 200px;
        width: 200px;
    }

    .texto-sobre {
        text-align: left;
    }
}